extends layout 
 
block content 
  h1= title 
  - let items = results; 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/resource/beer/update?id=${item._id}\")` 
        - let destinationdelete = `dispatchDelete(\"/resource/beer/delete?id=${item._id}\")`
        - let destinationcreate = `dispatchCreate(\"/resource/create\")`

        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.type}) is #{item.price} 
          button.btn( class="btn-primary " class="m-1" class="btn-toolbar", onclick= destinationcreate) Create
          button.btn( class="btn-danger" class="m-1" class="btn-toolbar", onclick= destinationdelete) Delete
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 