extends layout 
 
block content 
  h1= title 
   if (toShow == null) 
    h2 No instance to delete 
   else 
    - let beerid = toShow._id 
    - let name = toShow.name
    - let type = toShow.type 
    - let price = toShow.price 
    - let actionid = "/resource/beer/" +  beerid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='beerAttr mr-3') Beer ID is: 
        div #{beerid} 
      div.row 
        div(class='beerAttr mr-3') Beer Name is: 
        div #{name} 
      div.row 
        div(class='beerAttr mr-3') Beer Type is: 
        div #{type} 
      div.row 
        div(class='beerAttr mr-3') Beer Price is: 
        div #{price} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/beer' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'       
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/beer' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 